<div class="cmp-sharebuttons"
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
	data-sly-use.redes="com.hesperia.ovnew.core.models.SocialNetworks"
	data-sly-list.perfil="${redes.getRedes}">
	<a class="cmp-sharebuttons-link" href="${perfil.url}" target="_blank">${perfil.redSocial}</a>

</div>
<sly
	data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>
