.partners-ovnew {
	padding-bottom: 30px;
	padding-top: 30px;
    width: 1300px;
    margin: auto;
	@media ( max-width: 992px) {
		width: 100%;
	}
	.partners-content {
		.partners-content-title {
			text-align: center;
    		font-size: 66px;
			font-family: 'BebasNeue-Bold';
		}
		.partners-content-img {
			height: 200px;
		    width: 100%;
		    justify-content: space-evenly;
		    flex-wrap: wrap;
			display: grid;
		    grid-template-columns: 20% 20% 20% 20% 20%;
    		align-items: center;
			grid-row-gap: 20px;
			padding-top: 20px;
    		padding-bottom: 20px;
		
			.main {
				width: 80%;
				margin: auto;
			}
			.secondary {
				width: 30%;
				margin: auto;
			}
		}
		.partners-content-separator {
			border: 0.5px solid rgb(211, 215, 207);
    		margin-top: 55px;
		}
	}
}

@media (max-width: 767px) {
	.partners-ovnew {
		.partners-content {
			display: flex;
			flex-direction: column;
			padding-bottom: 100px;
			
			.partners-content-title {
				font-size: 66px;
			}
			.partners-content-separator {
				width: 90%;
				border: 0.3px solid rgb(211, 215, 207);
			}
			.partners-content-img {
				grid-template-columns: auto;
			    grid-row-gap: 20px;
				height: auto;
				
				.main {
				    width: 50%;
				}
				.secondary {
				    width: 40%;
				}
			}
		}
	}
}
@media (max-width: 992px) and (min-width:768px) {
	.partners-ovnew {
		.partners-content {
			padding-bottom: 100px;
			
			.partners-content-title {
				font-size: 34px;
			}
			.partners-content-separator {
				width: 90%;
				border: 0.3px solid rgb(211, 215, 207);
			}
			.partners-content-img {
				grid-template-columns: auto;
			    grid-row-gap: 20px;
				height: auto;
		    	grid-template-columns: 100px 100px 100px 100px 100px;
				
				.main {
				    width: 100%;
				}
				.secondary {
				    width: 80%;
				}
			}
		}
	}
}