<div
	data-sly-use.menu="com.hesperia.ovnew.core.models.MenusImpl"
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
	data-sly-test.hasContent="${!menu.esVacio}"
	class="internalMenu">
		<div class="internalMenu__top ovnewMenu__text-title">
			<p>${menu.getTitulo}</p>
			<sly data-sly-test="${!menu.isCostCero}">
				<p>${menu.getCosto}€</p>
			</sly>
			<!--<img src="${menu.getIcono}">
			 <p>Pdf:${menu.getPdf}</p> -->
		</div>
		<!-- PLATOS DEL MENU -->
		<div class="internalMenu__content">
		<!-- CUANDO EL MENU TIENE UN MENSAJE, SE TOMA SOLO EL 85% DEL HEIGTH DEL CONTENIDO 
			UTILIZANDO LA CLASE spaceForMessage	-->
			<div data-sly-list.platos="${menu.getPlatos}" data-sly-test="${menu.hasMessage}" 
				class="content ovnewMenu__spaceForMessage">
				<div class="content__item">
					<img class="item__icon" src="${platos.getIcono}"> 
					<div class="item__title ovnewMenu__text-title">
						<p>${platos.getTitulo}</p>
						<sly data-sly-test="${!platos.isCostCero}">
							<p>${platos.getCosto}€</p>
						</sly>
					</div>
					<p class="item__description ovnewMenu__text-title">${platos.getDescripcion}</p>
					<dl class="item__detail" data-sly-list.detalles="${platos.getDetalles}">
						<dt class="item__detailLine">${detalles}</dt>
					</dl>
					
					<!-- <p>Alergenos contenidos en el plato:</p>
					<br>
					<div data-sly-list.alergenos="${platos.getAlergenos}">
						<p>${alergenos}</p>
					</div> -->
				</div>
			</div>
			<div data-sly-list.platos="${menu.getPlatos}" data-sly-test="${!menu.hasMessage}" 
				class="content">
				<div class="content__item">
					<img class="item__icon" src="${platos.getIcono}"> 
					<div class="item__title ovnewMenu__text-title">
						<p>${platos.getTitulo}</p>
						<sly data-sly-test="${!platos.isCostCero}">
							<p>${platos.getCosto}€</p>
						</sly>
					</div>
					<p class="item__description ovnewMenu__text-title">${platos.getDescripcion}</p>
					<dl class="item__detail" data-sly-list.detalles="${platos.getDetalles}">
						<dt class="item__detailLine">${detalles}</dt>
					</dl>
					<!-- <p>Alergenos contenidos en el plato:</p>
					<br>
					<div data-sly-list.alergenos="${platos.getAlergenos}">
						<p>${alergenos}</p>
					</div> -->
				</div>
			</div>
			<div data-sly-test="${menu.hasMessage}"
				class="content__message">
				<p class="message__title ovnewMenu__text-title">${menu.getTituloM}</p>
				<p class="message__Content">${menu.getContenido}</p>
			</div>
		</div>
		<!-- FIN PLATOS -->	
	</div>
<div
	data-sly-use.menu="com.hesperia.ovnew.core.models.MenusImpl"
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
	data-sly-test.content="${menu.esVacio}">
	<p>Configure Menu</p>
</div>