
.header{
	height: 125px;
	.wknd-header.scrolly{
		
	    top: -80px;
	    height: 80px;
		transition: top 0.3s ease-in-out;
	    position: fixed;
	    border-bottom: 1px solid #e1e1e1;
		position: fixed;
	}

	.wknd-header {
	    z-index: 110;
	    height: 124px;
	    width: 100%;
		display: flex;
		justify-content: space-between;
		background-color: white;
	    left: 0;
		transition:transform 0.3s ease-out;
		transform:scaleY(1);
		
	
	 .container-header {
		display: flex;
	    padding-left: 8.3%;
	    justify-content: space-between;
	    padding-right: 8.3%;
		width: 100%;
		height: 100%;
		align-items: center;
		
		.container-navigation {
			display: flex;
			width: auto;
			justify-content: space-evenly;
			
		}
		.container-img {
			display: flex;
		    align-items: center;
			background-image: url('../../../../clientlibs/clientlib-site/resources/logo/logo.png');
			width: 92px;
		    height: 100%;
		    background-repeat: no-repeat;
		    background-size: contain;
    		background-position: center;
		}
	    .cmp-navigation {
        width: 100%;
		display: flex;
		justify-content: space-evenly;

        .cmp-navigation__group {
            list-style: none;
            margin:0; 
			width: 100%;
			display: flex;
			justify-content: space-around;
        }

        .cmp-navigation__item {
            display: block;
            float: left;
        }
	.cmp-navigation__item--active{
		.cmp-navigation__item-link:after, 
			.cmp-navigation__item-link:before{
				  content: '';
				  position: absolute;
				  width: 100%;
				  height: 1px;
				  top: 50%;
				  margin-top: -0.5px;
				  background: #000;
			}
	}

        .cmp-navigation__item-link {
	        padding: 0 23px;
	    	color: #111;
	    	font-size: 17px;
	    	line-height: 23px;
	    	letter-spacing: .1em;
			position: relative;
			text-decoration: none;
		    font-family: BebasNeue-Regular;
	
        }
 		.cmp-navigation__item-link:after, 
			.cmp-navigation__item-link:before{
			  content: '';
			  position: absolute;
			  width: 0%;
			  height: 1px;
			  top: 50%;
			  margin-top: -0.5px;
			  background: #000;
		}
		
		.cmp-navigation__item-link:before{
			  left: 2.5px;
		}
		.cmp-navigation__item-link:after {
			  right: 2.5px;
			  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
		}
		.cmp-navigation__item-link:hover::after {
		  	  background: transparent;
			  width: 100%;
			  transition: 0s;
		}
		.cmp-navigation__item-link:hover::before {
		  	  background: #000;
			  width: 100%;
			  transition: width 1s cubic-bezier(0.22, 0.61, 0.36, 1);
		}

    }
		.container-rigthAlign{
			display:flex;
			align-items: center;
			font-size: 17px;
			height: 100%;
			
			.cmp-navigation__item-link {
				font-family: BebasNeue-Bold;
				color: black;
	    		letter-spacing: .1em;
				text-decoration: none;
				order: 0;
			}	
			.container-rigthAlign-lang {
		    height: 100%; 
			align-items: center;
    		display: flex;
			order: 1;

			.cmp-languagenavigation {
				.cmp-languagenavigation__group {
					list-style: none;
					font-family: BebasNeue-Regular;
					display: flex;
	    			justify-content: center;
					width: 0%;
					margin: 0;
					.cmp-languagenavigation__item-link {
						color:black;
						line-height: 23px;
						letter-spacing: .1em;
						text-decoration: none;						
		    			font-family: BebasNeue-Regular;
					}
				}
			}
		}
			.container-rigthAlign-contact{
				height: 100%;
			    display: flex;
			    align-items: center;
				order: 2;
			.container-rigthAlign-contact-number-mobile{
				display: none;
			}
			.container-rigthAlign-contact-icon {
					padding-left: 14px;
				}
				
			.container-rigthAlign-contact-number  {
				list-style: none;
				display: none;
				margin: 0;
				line-height: 25px;
				letter-spacing: .01em;
				background-color: black;
				top: 125px;
				right: 11.3%;
				z-index: 10000;
				
				.container-rigthAlign-contact-number-list {
					padding-top: 30px;
		    		padding-bottom: 30px;
		
					span{
						font-size: 15px;
						font-family: Roboto,sans-serif;
						margin: auto;
						padding:25px;
						vertical-align: baseline;
						color: white;
					}
				}
			}
			.container-rigthAlign-contact-icon:hover > .container-rigthAlign-contact-number {
				display: block;
				position: absolute;
			
			}
			
		}///////
			.container-rigthAlign-menu {
		display: flex;
		margin: 15px;
		align-items: center;
		float: left;
		order:3;
		
		.container-rigthAlign-menu-icon  {
			font-size: 30px;
            transition: color 0.5s ease;
			color: black;
			
		}
		.container-rigthAlign-menu-icon:hover {
			color: #878787;
			cursor: pointer;
		}
		
	}
		}

	 }
 .navigation--mobile {
	display: none;
}
	
@media (max-width: 992px) {
	
		height: 70px;
		.wknd-header {
			height: 100%;
		}
	
	.container-header {
		.container-navigation {
			display:none !important;
		}
	}
	.container-rigthAlign {
		padding-right: 8%;
		color: #878787;
		.cmp-navigation__item-link {
			display: none;
		}
		.container-rigthAlign-lang {
			display: none !important;
		}
		.container-rigthAlign-contact-icon {
			display:none;
		}
		
		.container-rigthAlign-menu i {
			color: #878787;
		}
		.container-rigthAlign-contact-number-mobile {
			display: block !important;
			text-decoration: none;
			.container-rigthAlign-contact-icon {
				display: block;
				color: #878787;
			}
		}
		
	}
	

	
}



	}
}
.navigation--side {
	
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 1200;
	  top: 0;
	  right: 0;
	  background-color: #000;
	  overflow-x: hidden;
	  transition: 0.5s;
	  padding-top: 100px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  margin: 0;

	.closeBtn {
		color: #878787;
		font-size: 20px;
		font-family: Roboto,sans-serif;
		display: block;
		position: absolute;
		top: 33px;
	    right: 53px;
	    display: block;
	    z-index: 1000;
		transition: color 0.5s ease;
	}
	
	.closeBtn:hover {
		color: white;
	}
	
	
	.navigation--side-lang {
		padding-bottom: 30px;
		padding-top: 30px;
		
		.cmp-languagenavigation__group {
			list-style: none;
			display: flex;
			align-items:center;
			margin: 0;
			padding: 0;
			
			.cmp-languagenavigation__item {
				padding:10px;
				
				a {
					color: white;
					font-size: 30px;
					font-family: BebasNeue-Regular;
				}
			}
			
			.cmp-languagenavigation__item--active {
				text-decoration: underline;
			}
			
	  	 }
	 }
	
	.navigation--side-navigation {
		width: 90%;
	    display: block;
	    margin: 0;
	    padding-bottom: 30px;

		.cmp-navigation {
			width: 100%;
			justify-content: center;
    		display: flex;

			.cmp-navigation__group {
				list-style: none;
				padding:0;
				margin: 0;
				
				.cmp-navigation__item {
					padding-bottom: 30px;
				    display: flex;
				    justify-content: center;
				}
			
				.cmp-navigation__item a{
					color: white;
					font-size: 30px;
		    		font-family: BebasNeue-Regular;
				}
			}
		}
	}
	
	.navigation--side-contact {
		color: white;
		font-size: 30px;
	    font-family: BebasNeue-Regular;
		padding-top: 30px;
		text-decoration: none;
	}
	.navigation--side-socials {
		padding-top: 30px;
		display: flex;
	    justify-content: space-evenly;
	    width: 50%;
	    font-size: 30px;
		
		a i {
			color:white;
		}
	}
	
	
}
	.navigation--mobile {
	        -moz-transition: -moz-transform 0.5s ease;
	        -webkit-transition: -webkit-transform 0.5s ease;
	        -ms-transition: -ms-transform 0.5s ease;
	        transition: height 0.5s;
	        display: block;
	        height: 0;
	        left: 0;
	        overflow-y: auto;
	        position: relative;
	        width: 100% !important;
	        color: #000 !important;
	        background-color: #fff;
			padding-left: 1.5%;
	
			.navigation--mobile-lang {
				.cmp-languagenavigation .cmp-languagenavigation__group {
				list-style: none;
				display: flex;
				
				.cmp-languagenavigation__item {
					padding-right: 10px;
					
					.cmp-languagenavigation__item-link {
						color: black;
						font-size: 18px;
		    			font-family: BebasNeue-Bold;
						letter-spacing: .1em;
						line-height: 24px;
						}
				}
				.cmp-languagenavigation__item--active{
					text-decoration: line-through;
				}
				.cmp-navigation__item--active:after, 
					.cmp-navigation__item--active:before{
					  content: '';
					  position: absolute;
					  width: 90%;
					  height: 1px;
					  top: 50%;
					  margin-top: -0.5px;
					  background: #000;
				}
		
			}
		
		}
		
		.navigation--mobile-navigation .cmp-navigation__group {
			align-items: flex-start;
			list-style: none;
			width: 90%;
			
			.cmp-navigation__item {
				width: 100%;
				.cmp-navigation__item-link {
					color: black;
					font-size: 18px;
		    		font-family: BebasNeue-Bold;
					line-height: 24px;
					position: relative;
					text-decoration: none;
					
					&:before, &:after {
						   content: "";
					        position: absolute;
					        bottom: -10px;
					        width: 0px;
					        height: 5px;
					        margin: 5px 0 0;
					        transition: all 0.2s ease-in-out;
							background-color: black;
					}
				}
				&:hover {
					cursor: pointer;
					.cmp-navigation__item-link {
						width: 100%;
					}
				}
					
			}
			hr {
			   border: 0.5px solid rgb(211, 215, 207);
			   margin-top: 10px;
			}	
		}
		
					
	}