#modalPreview{
    display:none;
    position: absolute;
    width: 100%; 
  	height: 100%; 
    top:0;
    background-color: rgb(0,0,0);
  	background-color: rgba(0,0,0,0.4);

    .closePreview {
      color: red;
      font-size: 102px;
      font-weight: bold;
    }
    
    .closePreview:hover,
    .closePreview:focus {
      text-decoration: none;
      cursor: pointer;
    }
}
