<div
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
	data-sly-use.partner="com.hesperia.ovnew.core.models.Partners">
	<div class="partners-content">
		<h1 class="partners-content-title">Partners</h1>
		<hr class="partners-content-separator">
		<div class="partners-content-img"
			data-sly-list.lista="${partner.getImg}">
			<img src="${lista.getUrl}" class="${lista.getType}">
		</div>
		<hr class="partners-content-separator">
			
	</div>
</div>

<sly
	data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>
