.recommendations{
	.cmp-recommendations{
		.cmp-recommendations__recommendation{
			
			.recommendation__item{
				.item__icon{
					width: 70px;
	    			height: auto;
				}
				.item__title{
					color: green;
				}
				.item__description{
					color: green
				}	
			}
		}
	}
}