@normal-screen :1200px;
@medium-screen : 990px;
@minimum-screen: 350px;
.ovnewReco{
	.cmp-recommendations{
		.cmp-recommendations__recommendation{
			margin: auto 5%;
			@media (max-width: @minimum-screen){
    			margin: auto;
			}
			.recommendation__item{
				display: inline-table;
    			width: 28%;
    			padding: 3% 2% 1% 2%;
				height: auto;
				@media (max-width: @normal-screen){
					width: 30%;
	    			padding: 3% 1% 1% 1%;
				}
				@media (max-width: @medium-screen){
					width: 100%;
				}
				@media (max-width: @minimum-screen){
	    			padding: 0;
				}
				.item__icon{
					width: 70px;
	    			height: auto;
				}
				.item__title{
					display: inline-flex;
					width: 70%;
					text-transform: uppercase;
					color: #111;
    				font-family: BebasNeue-Bold;
					font-size: 24px;
				    font-weight: 400;
				    word-spacing: .15em;
    				padding-left: 17px;
    				vertical-align: top;
					@media (max-width: @normal-screen){
						font-size: 20px;	
					}
					@media (max-width: @medium-screen){
						font-size: 24px;
					}
				}
				.item__description{
					font-size: 15px;
					font-family: Roboto,sans-serif;
					margin: 5px 0 0;
    				line-height: 20px;
				    letter-spacing: .01em;
				    color: #878787;
					@media (max-width: @normal-screen){
						font-size: 12px;	
					}
					@media (max-width: @medium-screen){
						font-size: 15px;
					}
					@media (max-width: @minimum-screen){
						font-size: 12px;	
					}
				}	
			}
		}
	}
}