.cmp-image__contact {
    padding-left: 8.3%;
    padding-right: 8.3%;
    height: 260px;
	margin-bottom: 30px;
}

.cmp-image--fullWidth {
	margin-bottom: 30px;
	img {
		width: 100%;
    	height: 700px;
	}
}