.contentfragment__ovnew {
	background-color: #F0F0F0;
    width: 70% !important;
    margin: auto;
    display: flex;
    float: none !important;
    height: 600px;
    overflow-y: auto;
	.cmp-contentfragment {
		.cmp-contentfragment__title {
			display: none !important;
		}
		.cmp-contentfragment__description {
			display: none;
		}
		.cmp-contentfragment__elements {
		    width: 85%;
		    margin: auto;
		    margin-top: 75px;
			font-family: BebasNeue-Bold;
		    height: 500px;
			h1 {
				font-size: 40px;
				letter-spacing: .15em;
    			line-height: 1.25em;
			}
			h2 {
				font-size: 30px;
				letter-spacing: .15em;
    			line-height: 1.67em;
			}
			
			p {
				color: #878787;
				font-size: 15px;
				line-height: 25px;
			    font-weight: 400;
			    letter-spacing: .01em;
				font-family: Roboto, sans-serif;
				a {
					color: #000;
					text-decoration: none;
				}
			}
			.new.newpar.section.aem-Grid-newComponent{
				margin: 0;
				height: 0;
			}
			table {
				font-family: Roboto, sans-serif;
			    color: #878787;
			    font-size: 15px;
			}
			ul  li {
				a {
					text-decoration: none;
					color: black;
					font-family: Roboto, sans-serif;
					font-size: 15px;
				}
			}
		}
	}
}