.contentbox--ovnew {
	width: 1300px;
    margin: auto;
    padding-bottom: 60px;
	@media (max-width: 992px) {
		width: 100%;
	}
	.cmp-contentBox{
		display: flex;
    	justify-content: space-evenly;
    	align-items: flex-start;
		@media (max-width: 992px) {
			flex-direction: column;
		}
		.contentBox__img {
		    width: 100%;
   			flex-basis: 45%;
			@media (max-width: 992px) {
				height: 250px;
			}
			img {
				width: 100%;
   				height: 100%;
			
			}
		}
		.contentBox__text {
		    flex-basis: 46%;
		    display: flex;
		    flex-direction: column;
			@media (max-width: 992px) {
			    padding: 30px;
			}
			.contentBox__text__separator {
				color: #ebebeb;
    			width: 100%;
				@media (max-width:992px) {
					display: none;
				}
			}
			.contentBox__text__title {
			    font-size: 30px;
			    font-family: BebasNeue-Bold;
			    letter-spacing: -.005em;
			    line-height: 1.25em;
			    word-spacing: .15em;
			}
			.contentBox__text__description {
				font-family: Roboto,sans-serif;
			    font-size: 15px;
			    line-height: 25px;
			    font-weight: 400;
			    letter-spacing: .01em;
			    color: #878787;
			}
			.contentBox__text__address {
				text-decoration: none;
				color: #878787;
			    margin-top: 20px;
				font-family: Roboto,sans-serif;
			    font-size: 15px;
			}
			.contentBox__text__email {
			    text-decoration: none;
    			color: #878787;
			    margin-top: 20px;
				font-family: Roboto,sans-serif;
			    font-size: 15px;
			}
			.contentBox__text__phone {
				text-decoration: none;
    			color: #878787;
			    margin-top: 20px;
				font-family: Roboto,sans-serif;
			    font-size: 15px;
			}
			.contentBox__text__button {
			    text-decoration: none;
			    color: black;
			    border: 1px solid black;
			    padding: 20px;
			    display: inline-block;
			    margin-top: 30px;
				font-family: BebasNeue-Regular;
			    letter-spacing: .1em;
    			font-size: 14px;
				transition: background-color 1s;
				width: 80px;
			    display: flex;
			    justify-content: center;
				font-weight: bold;
				&:hover {
					background-color: black;
					color: white;
					
				}
			}
		}
	}
}