.cmp-teaser__ovnew {
	padding-left: 8.3%;
    padding-right: 8.3%;
	display: flex !important;
	.cmp-teaser {
		.cmp-teaser__image {
		    display: flex;
   			justify-content: center;
			img {
				height: 100%;
				animation: fade-in-out 2s;
			}
			
		}
		.cmp-teaser__content {
		    position: relative;
		    border: 1px solid white;
		    background-color: rgba(255, 255, 255, 0.5);
		    top: -100px;
		    padding: 10px;
		    display: inline-block;
			margin: 20px;
			.cmp-teaser__title {
				color: white;
		    	font-family: BebasNeue-Bold;
				font-size: 40px;
				margin: 0;
				text-transform: uppercase;
				letter-spacing: 0px;
			}
		}
	}
}
@keyframes fade-in-out {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 992px){
	.cmp-teaser__ovnew {
		padding: 0;
		.cmp-teaser {
			margin-bottom: 30px;
			.cmp-teaser__image {
				img {
					width: 100%;
				}
			}
			.cmp-teaser__content {
				bottom: 150px;
				.cmp-teaser__title {
					font-size: 20px;
				}
			}
		}
	}
}