.cmp-carousel__ovnew {
	display: flex;
	justify-content: center;
	padding-left: 8.3%;
    padding-right: 8.3%;
	margin-top: 30px;
	.cmp-carousel {
		width: 100%;

		.cmp-carousel__content {
			display: flex;
			.cmp-carousel__item {
				width: 100%;
				.cmp-teaser__ovnew {
					height: 100%;
					padding: 0;
					animation: fade-in-out 2s;
					.cmp-teaser {
						img {
							height: 100%;
							width: 100%;
						}
					}
				}
			}
			.cmp-carousel__actions {
				position: absolute;
			    width: 100%;
			    top: 50%;
			    display: flex;
			    justify-content: space-between;
				
		 		
				.cmp-carousel__action {
				    background-color: transparent;
				    border-style: none;
				    display: flex;
				    color: white;
				    border-bottom: 1px solid white;
				    padding: 10px;
					font-family: Roboto, sans-serif;
					font-weight: bold;
					font-size: 15px;
		    		letter-spacing: .01em;
				    width: 100px;
					justify-content: flex-end;
					height: 40px;
					outline: none;
					
				}
				
				 .cmp-carousel__action--previous .cmp-carousel__action-text {
					opacity: 0;
					position: relative;
					transform: translateX(-100px);
					transition: transform 1s ease, opacity .3s ease;
				}
				 .cmp-carousel__action--previous:hover .cmp-carousel__action-text{
					transform: translateX(0);
					opacity: 1;
				}
				
	
				 .cmp-carousel__action--next .cmp-carousel__action-text {
					opacity: 0;
					position: relative;
					transform: translateX(100px);
					transition: transform 1s ease, opacity .3s ease;
				}
				 .cmp-carousel__action--next:hover .cmp-carousel__action-text{
					transform: translateX(0);
					opacity: 1;
				}
				
	
				
				
				.cmp-carousel__action--next {
					justify-content: flex-start;
				}
				.cmp-carousel__action--previous {
					justify-content: flex-end;
				}
				.cmp-carousel__action--pause, .cmp-carousel__action--play {
					display: none;
				}
				
			}
			.cmp-teaser__content {
				animation: hideTitle 1s ease-in 3s forwards;
				display: inline-block;
				.cmp-teaser__title {
				
				}
			}
		}
	}
}
@media (max-width: 992px){
	.cmp-carousel__ovnew {
		.cmp-carousel {
			.cmp-carousel__content {
				flex-direction: column;
				.cmp-carousel__actions {
					display: none;
				}
				.cmp-carousel__indicators {
					display: flex !important;
					margin-top: 10px;
				}
			}
		}
	}
}
@media (max-width: 550px) {
	.cmp-carousel__ovnew {
		padding-bottom: 30px;
		
		.cmp-carousel__content {
			.cmp-teaser .cmp-teaser__content{
			    //padding: 0;
			    bottom: 20px;
			    left: 10px;
				margin: 0;
			    top: -52px;
				.cmp-teaser__title {
					font-size: 15px;
				}
			} 
			
			.cmp-carousel__actions {
				display: none;
			}
			
		}
		
		
	}
}
.cmp-carousel--fullWidth {
	margin-bottom: 100px;
	.cmp-carousel {
		.cmp-carousel__content {
			.cmp-carousel__actions {
			    position: absolute;
			    top: 50%;
			    width: 100%;
				.cmp-carousel__action {
					background-color: transparent;
				    border: none;
				    font-size: 30px;
					color: #fff;
					outline: none;
				}
				.cmp-carousel__action-text {
					color: white;
				    font-size: 60px;
				    font-weight: 100;
				}
					.cmp-carousel__action--previous {
						margin-left: 100px;
					}
					.cmp-carousel__action--next {
						float: right;
						margin-right: 100px;
					}
					.cmp-carousel__action--pause {
						display: none;
					}
					.cmp-carousel__action--play {
						display: none;
					}
				
			}
			////////////
			.cmp-carousel__item {
				animation: fade-in-out 1s;
			}
		}
	}
}

.cmp-carousel--fullWidthNocontrols {
	.cmp-carousel {
		.cmp-carousel__content {
			.cmp-carousel__actions {
			    display: none;
							
			}
			.cmp-carousel__item {
				
				color: white;
				.teaser {
					color: white;
					.cmp-teaser {
						img {
						    height: 500px;
							width: 100%;
							animation: fade-in-out 1s;
						}
						.cmp-teaser__content {
							position: absolute;
	    					top: 45%;
							left: 40%;
						    display: flex;
    						flex-direction: column;
							.cmp-teaser__title { 
								text-align: center;
							    font-family: BebasNeue-Bold;
								font-size: 60px;
								order: 1;
							} 
							.cmp-teaser__description {
								order: 0;
								font-family: Roboto;
							    text-transform: uppercase;
							    font-size: 11px;
							    letter-spacing: 2px;
							    line-height: 30px;
								p {
							    	text-align: center;	
								}
							}
						}
					}
					
				}
				
			}
		}
	}
}


@keyframes fade-in-out {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes hideTitle {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

