<div data-sly-use.images="com.hesperia.ovnew.core.models.RandomGallery"
 	 data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
 	 class="cmp-random">
 	 <div class="cmp-random__container" data-resource="${images.getArrayListImages}">
 	 	<div class="row">
 	 		<div id="picture-one" class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 owl-demo owl-carousel owl-theme row-one">
 	 			<div class="item first"><img src=""></div>
  				<div class="item second"><img src=""></div> 
 	 		</div>
 	 		<div id="picture-two" class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 owl-demo owl-carousel owl-theme row-one">
 	 			<div class="item first"><img src=""></div>
  				<div class="item second"><img src=""></div> 
 	 		</div>
 	 		<div id="picture-three" class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 owl-demo owl-carousel owl-theme row-one">
 	 			<div class="item first"><img src=""></div>
  				<div class="item second"><img src=""></div> 
 	 		</div>
 	 	</div>
 	 	
 	 	<div class="row">
 	 		<div id="picture-four" class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 owl-demo owl-carousel owl-theme row-two">
 	 			<div class="item first"><img src=""></div>
  				<div class="item second"><img src=""></div> 
 	 		</div>
 	 		<div id="picture-five" class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 owl-demo owl-carousel owl-theme row-two">
 	 			<div class="item first"><img src=""></div>
  				<div class="item second"><img src=""></div> 
  			</div>
 	 		<div id="picture-six" class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 owl-demo owl-carousel owl-theme row-two">
 	 			<div class="item first"><img src=""></div>
  				<div class="item second"><img src=""></div> 
 	 		</div>
 	 	</div>
 	 </div>
</div>
<sly
	data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>
