

@font-face {
  font-family: 'BebasNeue-Bold';
  src: url('../resources/fonts/BebasNeue-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeue-Book';
  src: url('../resources/fonts/BebasNeue-Book.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeue-Light';
  src: url('../resources/fonts/BebasNeue-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('../resources/fonts/BebasNeue-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeue-Thin';
  src: url('../resources/fonts/BebasNeue-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Bebas';
  src: url('../resources/fonts/BEBAS.ttf') format('truetype');
}

body {
	margin: 0;
}
