.cmp-random{
	.cmp-random__container{
		padding: 0 8.3%;
	}
	.row-one{
		margin-bottom:20px;
	}
	
	.row-two{
		margin-bottom:20px;
	}
	
	.owl-demo .item img{
	    display: block;
	    width: 100%;
	    height: auto;
	}
	
	.owl-demo:hover{
		cursor:pointer;
	}	
	
}