.cmp-sharebuttons__ovnew {
	transform: translateX(20%) rotate(-90deg);
    width: fit-content;
    position: fixed;
    display: flex;
    top: 50%;
	.cmp-sharebuttons {
			.cmp-sharebuttons-link {
			    text-decoration: none;
	    		padding: 5px;
				font-family: Bebas;
			    font-size: 11px;
			    color: #b0b0b0;
			    letter-spacing: .2em;
			}
		
	}
}