.button__item--ovnew {
	position: fixed;
    right: 0;
    display: flex;
    width: 200px !important;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #9C4C1E;
    border-radius: 35px 0 0 35px;
    height: 60px;
    align-items: center;
    bottom: 250px;
	z-index: 10000;
	@media (max-width:992px){
		width: 100px;
		height: 40px;
	}
	.cmp-button {
		color: white !important;
	    font-family: BebasNeue-Bold;
		font-size: 25px;
		width: 100%;
	    display: flex;
	    justify-content: center;
		background-color: transparent;
	    border: none;
    	text-decoration: none;
		@media (max-width: 992px) {
		    font-size: 19px;
		    width: 100%;
		    display: flex;
		    justify-content: center;
		}
	}
}

.button__item--backtotop {
    transform: rotate(-90deg);
    transform-origin: 0 0;
    width: 190px !important;
    z-index: 10000;
    position: fixed;
    right: -143px;
    bottom: 0;
	cursor: pointer;
	display: none;
	.cmp-button {
	    text-decoration: none;
	    color: black;
	    border-bottom: 1px solid black;
	    padding-bottom: 10px;
	    font-family: Bebas;
	    font-size: 12px;
	    line-height: 1em;
	    letter-spacing: .1em;
	}

}
	.button__item--backtotop:before, .button__item--backtotop:after {
		  content: '';
		  position: absolute;
		  width: 0%;
		  height: 1px;
		  bottom: -5px;
		  margin-top: -0.5px;
		  background: #000;
	}
	.button__item--backtotop:after {
		 background: #000;
		 transition: width 1.5s cubic-bezier(0.22, 0.61, 0.36, 1);
	}
	.button__item--backtotop:hover:before {
		 background: #000;
		 width: 100%;
		 transition: width 1s cubic-bezier(0.22, 0.61, 0.36, 1);
	}
	.button__item--backtotop:hover:after {
		 background: transparent;
		 width: 100%;
		 transition: 0s;
	}