<div
	data-sly-use.recom="com.hesperia.ovnew.core.models.RecommendationsList"
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
	class="cmp-recommendations"
	data-sly-test.content="${!recom.isEmpty}">
	<div data-sly-list.recList="${recom.getRecommendations}"
		 class="cmp-recommendations__recommendation">
		<div class="recommendation__item"
			 data-sly-test="${!recList.isEmpty}">
			<img class="item__icon" src="${recList.getIcon}"> 
			<h4 class=item__title>${recList.getTitle}</h4>
			<p class=item__description> ${recList.getDescription}</p>
		</div>
	</div>
</div>
<!-- mensaje cuando el componente esta  -->
<div
	data-sly-use.recom="com.hesperia.ovnew.core.models.RecommendationsList"
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
	data-sly-test.content="${recom.isEmpty}">
	<p>Configure Recommendations</p>
</div>
