<header class="wknd-header"
	data-sly-use.header="com.hesperia.ovnew.core.models.Header">
	<div class="container-header">
		<div class="container-img">
		</div>
		<div class="container-navigation"
			data-sly-resource="${'navigation' @ resourceType='ovnew/components/content/navigation'}">
		</div>
		<div class="container-rigthAlign">

			<div class="container-rigthAlign-lang"
				data-sly-resource="${'languagenavigation' @ resourceType='ovnew/components/content/languagenavigation'}">
			</div>
			<div class="container-rigthAlign-contact">

				<i class="container-rigthAlign-contact-icon icon_phone">
					</i>
				<ul class="container-rigthAlign-contact-number">
					<li class="container-rigthAlign-contact-number-list"><span>${header.telefonoFormato}</span></li>
				</ul>

				<a href="tel://${header.telefonoEnlace}"
					class="container-rigthAlign-contact-number-mobile"><i
					class="container-rigthAlign-contact-icon dripicons-phone">
				</i></a>

			</div>
			<div class="container-rigthAlign-menu" onclick="showNav()">
				<i class="container-rigthAlign-menu-icon dripicons-view-apps"></i>
			</div>
		</div>
	</div>
</header>

<div class="navigation--mobile">
	<div class="navigation--mobile-lang"
		data-sly-resource="${'languagenavigation' @ resourcetype='ovnew/components/languagenavigation/'}"></div>
	<div class="navigation--mobile-navigation"
		data-sly-resource="${'navigation' @ resourcetype='ovnew/components/navigation'}"></div>
</div>
<div class="navigation--side" id="sidenav">
	<span class="closeBtn" onclick="closeNav()">x</span>
	<div class="navigation--side-lang"
		data-sly-resource="${'languagenavigation' @ resourcetype='ovnew/components/languagenavigation/'}"></div>
	<div class="navigation--side-navigation"></div>
	<a href="http://localhost:4502/content/ovnew/language-master/es/contactanos.html" class="navigation--side-contact"><span>Contacto</span></a>
	<div class="navigation--side-socials">
		<a class="navigation--side-socials-icon"
			href="http://www.facebook.com/ovnewrestaurant/" target="_blank">
			<i class="social_facebook_circle"></i>
		</a> <a class="navigation--side-socials-icon"
			href="http://www.instagram.com/ovnewrestaurant/" target="_blank">
			<i class="fab fa-instagram"></i>
		</a>
	</div>
</div>