<div class="eltdf-row-grid-section-wrapper">
	<div class="eltdf-row-grid-section">
		<div class="vc_row wpb_row vc_row-fluid">
			<div class="wpb_column vc_column_container vc_col-sm-12">
				<div class="vc_column-inner ">
					<div class="wpb_wrapper">
						<div class="wpb_raw_code wpb_content_element wpb_raw_html"
							id="reserva-tenedor">
							<script type="text/javascript" src="${properties.script}"></script>
							<iframe title="Reservas" src="${properties.iframe}"
								frameborder="0" onload="iFrameResize();"> </iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>