.cmp-text--menu {
	
	.cmp-text p{
			font-family: Roboto, sans-serif !important;
			text-align: center !important;
			font-size: 15px !important;
			line-height: 25px !important;
			font-weight: 400 !important;
			letter-spacing: 0.01em !important;
			color: #878787 !important;
			display: flex;
    	 	justify-content: space-evenly;
			
		}
	
}
