<div class="cmp-contentBox"
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
	data-sly-use.content="com.hesperia.ovnew.core.models.ContentBox">
	<div class="contentBox__img">
		<img src="${content.image}">
	</div>
	<div class="contentBox__text">
		<hr class="contentBox__text__separator">
		<h1 class="contentBox__text__title">${content.title}</h1>
		<p class="contentBox__text__description">${content.getDescription}</p>		
		<a class="contentBox__text__address" href="${content.addressUrl}">${content.address}</a>
		<a class="contentBox__text__email" href="mailto:${content.email}">${content.email}</a>
		<a class="contentBox__text__phone" href="tel://${content.getPhone}">${content.phone}</a>
		<div data-sly-test="${content.showButton == 'true'}">
			<a class="contentBox__text__button" href="${content.buttonUrl}">
				<span>${content.buttonText}</span>
			</a>
		</div>
	</div>
</div>

<sly
	data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>