<div class="cmp-card-title"
	data-sly-use.card="com.hesperia.ovnew.core.models.Card">
	<h6 class="cmp-card-title-subtitle">${card.getSubtitle}</h6>
	<h1 class="cmp-card-title-title">${card.getTitle}</h1>
</div>
<div class="cmp-card"
	data-sly-use.card="com.hesperia.ovnew.core.models.Card"
	data-sly-list.imagen="${card.getPerson}"
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html">
	<div class="cmp-card-content">
		<div class="cmp-card-img">
			<img src="${imagen.getImage}">
		</div>
		<div class="cmp-card-name">
			<div class="cmp-card-name-name">
				<h1>${imagen.getName}</h1>
			</div>
			<div class="cmp-vertical-separator"></div>
			<div class="cmp-card-name-share">
				<div class="cmp-card-name-share-instagram"
					data-sly-test="${imagen.getInstagram}">
					<a href="${imagen.getInstagram}" target="_blank"><i
						class="fab fa-instagram"></i></a>
				</div>
				<div class="cmp-card-name-share-twitter"
					data-sly-test="${imagen.getTwitter}">
					<a href="${imagen.getTwitter}" target="_blank"><i
						class="fab fa-twitter"></i></a>
				</div>
				<div class="cmp-card-name-share-facebook"
					data-sly-test="${imagen.getFacebook}">
					<a href="${imagen.getFacebook}" target="_blank"><i
						class="fab fa-facebook"></i></a>
				</div>
			</div>
		</div>
		<div class="cmp-card-description">
			<p>${imagen.description}</p>
		</div>
	</div>
</div>

<sly
	data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>