.menu{//head-block

	.ovnewMenu__text-title{
		color: blue;
	}
	.ovnewMenu__spaceForMessage{
	}
	.internalMenu{//block
	}
	.internalMenu__top{
	}
	.internalMenu__content{
	}
	.content{
	}	
	.content__item{
		
	}
	.item__icon{ 
		width: 70px;
		height: 70px;
	}
	.item__title{
		
	}
	/*.item__cost{
	}*/
	.item__description{
    	
	}
	.item__detail{
		
	}
	.content__message{
		
	}
	.message__title{
		
	}
	.message__Content{
		
	}
}