@small-screen :400px;
@mobile-screen :450px;
@medium-screen :800px;
@large-screen :1000px;
@big-screen :1200px;


.ovnewMenu{//head-block
	background-color: black;
    font-family: BebasNeue-Bold;
	width: 33%;
	/*@media (max-width: @big-screen) {
        width: 45%;
    }*/
	@media (max-width: @large-screen) {
        width: 50%;
    }
	@media (max-width: @medium-screen) {
        width: 55%;
    }
	@media (max-width: @mobile-screen) {
       	width: 95%;
        font-size: 20px;
    }
	.ovnewMenu__text-title{
		color: white;
		font-size: 24px;
	}
	.ovnewMenu__spaceForMessage{
		height:85% !important;
	}
	.internalMenu{//block
	    padding: 10%;
		@media (max-width: @mobile-screen) {
		    padding: 5%;
		}
		/*@media (max-width: @small-screen) {
		    height: 95%!important;
		}*/			
	}
	.internalMenu__top{
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #8d8d8d;
	}
	.internalMenu__content{
		height: 95%;
	}
	.content{
		margin-top: 10%;
		height: 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-around;
		@media (max-width: @mobile-screen) {
		    margin-top: 5%;
		}
	}	
	.content__item{
		margin-left: 17.5%;
		display: flex;	
	    flex-direction: column;
		@media (max-width: @mobile-screen) {
		    margin-left: 0%;
    	}
	}
	.item__icon{ 
		position: absolute;
	    width: 45px;
		height: auto;
		margin-left: -5%;
		@media (max-width: @medium-screen) {
			margin-left: -7.5%;
    	}
		@media (max-width: @mobile-screen) {
			display: block;
		    position: relative;
		    margin: 0%;
    	}
	}
	.item__title{
		display: flex;
		justify-content: space-between;
	}
	/*.item__cost{
	}*/
	.item__description{
    	text-transform: none!important;
	    font-size: 14px;
		font-family: Roboto,sans-serif;
		margin-top:-5%;
	}
	.item__detail{
		font-weight: 1 !important;
		font-size: 14px !important;
	    font-family: Roboto !important;
	    color: #8d8d8d !important;
	    line-height: 20px;
		list-style-type:none;
		margin-top:-2%;
		margin-bottom: 0%;
	}
	.item__detailLine{
		font-weight: 1 !important;
	}
	.content__message{
		display: flex;
		flex-direction: column;
		padding: 20px 0 3px 0;
		border-top: 1px solid #8d8d8d;
	}
	.message__title{
		margin-bottom: 0;
	}
	.message__Content{
		font-size: 14px;
		font-family: Roboto,sans-serif;
		color: white;
	}
}
		