/* WKND Navigation Footer Style */

.footer {
    display: flex;
    padding:0;
	flex-direction: column;
	margin-top: 30px;
	
	.container-footer-text {
		display: flex;
    	flex-direction: row;
    	width: 90%;
		padding-left: 8.3%;
		padding-right: 8.3%;
		justify-content: space-evenly;
	    margin: auto;

		.container-footer-contact {
			flex-basis: 33%;
			.container-footer-contact-contact {
				font-size: 30px;
				padding: 0;
    			margin: 0;
				font-weight: normal;
				font-family: "BebasNeue-Bold";
			}
			.container-footer-contact-phone {
			    display: flex;
			    margin-top: 30px;
			    padding: 0;
				a {
					text-decoration: none;
					color: #878787;
					font-size: 15px;
					margin-left: 15px;
				}
			}
			.container-footer-contact-email {
				display: flex;
			    padding: 0;
				margin-top: 10px;
				a {
					text-decoration: none;
					color: #878787;
					font-size: 15px;
					margin-left: 15px;
				}
			}
		}
		.container-contact-schedule {
			flex-basis: 33%;
			.container-contact-footer-schedule {
				font-size: 30px;
			    padding: 0;
    			margin: 0;
				font-weight: normal;				
				font-family: "BebasNeue-Bold";
			}
			.container-contact-footer-schedule-day {
				margin-top: 15px;
				color: #878787;
				font-size: 15px;
			    line-height: 30px;
			}
		}
		.container-footer-maps {
			flex-basis: 33%;
			.container-footer-maps-title {
				font-size: 30px;
			    padding: 0;
    			margin: 0;
				font-weight: normal;
				font-family: "BebasNeue-Bold";
			}
			.container-footer-maps-address {
				width: 100%;
				margin-top: 30px;
				a {
					text-decoration: none;
					color: #878787;
					margin-left: 15px;
				}
			}
			.container-footer-maps-map {
				width: 100%;
				margin-top: 10px;
    			height: 300px;
			}
		}
	}
	.bottom-legals {
	    display: flex;
	    justify-content: space-evenly;
	    background-color: black;
	    height: 60px;
    	align-items: center;
		.bottom-legals-advertisement {
			a {
				text-decoration: none;
			    color: white;
			    font-size: 11px;
				font-family: Roboto,sans-serif;
				text-transform: uppercase;
			}
		}
	}
	.bold {
	    font-weight: bold;
	}
}
.container-navigation-footer {
	position: relative;
    top: -40px;
      .cmp-navigation {
        width: 100%;
        text-align: center;
        float: left;
	    padding-left: 5.3%;
        .cmp-navigation__group {
          .cmp-navigation__item {

            float:left;
            display: block;

            .cmp-navigation__item-link {
                font-size: 22px;
                color: black;
                width: 4em;
                text-align: center;
                text-decoration: none;
                float:left;
				font-family: "BebasNeue-Bold";

            }

        }

    }
 }

}
@media (max-width: 1024px) {
	.footer {
		.container-footer {
			.container-footer-text {
				flex-direction: column;
				.container-footer-maps {
					.container-footer-maps-map {
						width: 85%;
					}
				}
			}
			.container-navigation-footer {
				top:0;
				.cmp-navigation {
					padding: 15px;
				}
			}
		}
	}
}
@media  (max-width: 992px) {
	.footer {
		.container-footer {
			.container-footer-text {
				flex-direction: column;
				width: 90%;
				padding: 0;
				.container-footer-maps {
					.container-footer-maps-address {
						width: 100%;
					}
					.container-footer-maps-map {
						width: 85%;
					}
				}
			}
			.container-navigation-footer {
				display: none;
			}
		}
		.bottom-legals {
			display: grid;
	    	grid-template-columns: 50% 50%;
			background-color: transparent; 
			padding-top: 30px;
		    
			.bottom-legals-advertisement {

				padding-left: 14.3%;
				a {
					color: #878787;
					font-size: 3vw;
				}
			}
			.bold {
				font-weight: normal;
			}
			.bottom-legals-advertisement.long {
				grid-column: 1 / span 2;
				background-color: black;
			    padding-top: 15px;
			    padding-bottom: 15px;
			    text-align: center;
			    margin-top: 20px;
				padding-left: 0;
				a {
					color: white;
					font-size: 4vw;
				}
			}
		}
	}
}
