.cmp-card__ovnew {
	padding-bottom: 30px;
	width: 100%;
	.cmp-card-title {
		text-align: center;
		
		.cmp-card-title-subtitle {
		    margin: 0 0 2px;
		    color: #878787;
		    font-weight: 400;
		    text-transform: uppercase;
		    line-height: 2.27em;
		    letter-spacing: .2em;
    		font-family: Roboto, sans-serif;
		}
		.cmp-card-title-title {
		    word-spacing: .15em;
		    line-height: 1.25em;
		    letter-spacing: -0.005em;
		    font-size: 66px;
		    font-family: BebasNeue-Bold;
		}
	}
	.cmp-card {
		display: flex;
	    flex-direction: row;
		justify-content: space-evenly;
		width: 1300px;
    	margin: auto;
		.cmp-card-content{
			width: 43%;
		
			.cmp-card-img {
				img {
					width: 550px;
    				height: 300px;
				}
			} 
			.cmp-card-name {
				display: flex;
			    margin-top: 30px;
	    		margin-bottom: 30px;
				.cmp-card-name-name {
					padding-right: 30px;
		    		font-family: BebasNeue-Bold;
					
					h1 {
						font-size: 57px;
						color: black;
					}
				}
				.cmp-vertical-separator {
				    border-left: 1px solid black;
	    			padding-right: 30px;
				}
				.cmp-card-name-share {
				    display: flex;
	    			align-items: center;
					width: 20%;
					justify-content: space-evenly;
					a {
					 	color: black;
	    				font-size: 29px;
					}
				}
			}
			.cmp-card-description {
				font-family: Roboto,Sans-serif;
			    font-size: 15px;
			    line-height: 25px;
			    font-weight: 400;
			    letter-spacing: .01em;
			    color: #878787;
			}
		}
	}
}
@media (max-width: 1400px) and (min-width:1215px){
	.cmp-card__ovnew {
		.cmp-card {
			width: 90%;
		}
	}
}
@media (max-width: 1214px) and (min-width:993px){
	.cmp-card__ovnew {
		.cmp-card {
			width: 90%;
			.cmp-card-name {
				.cmp-card-name-name {
					
					h1 {
						font-size: 4vw !important;
					}
				}
			}
				
		}
	}
}
@media (max-width: 992px){
	.cmp-card__ovnew{
		padding: 0;
		.cmp-card {
			width: 100% !important;
		}
		.cmp-card-title {
			.cmp-card-title-subtitle {
				font-size: 15px;
			}
			.cmp-card-title-title {
				font-size: 35px;
			}
		}
		.cmp-card {
			padding-bottom: 100px;
			flex-direction: column;
			.cmp-card-content {
				width: 100%;
				padding-bottom: 50px;
				.cmp-card-img {
					img {
						width: 100%;
					}
				}
				.cmp-card-name {
					padding-right: 5% ;
    				padding-left: 5% ;
					.cmp-card-name-name {
						h1 {
							font-size: 35px;						
						}
					}
					.cmp-card-name-share {
						width: 35%;
					}
				}
				.cmp-card-description {
					padding-right: 5% ;
    				padding-left: 5% ;	
				}
			}
		}
	}
}
