<div
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html">
	<a data-sly-test="${!properties.reserveUrl}" class="cmp-button">${properties.text}</a>
	<a data-sly-test="${properties.reserveUrl}" class="cmp-button" href="${properties.reserveUrl}">${properties.text}</a>
</div>
<sly
	data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>