.circularCarousel-ovnew {
	.cmp-circularCarousel {
	    display: flex;
	    flex-direction: column;
		justify-content: space-around;
		align-items: center;
		position: relative;
		.cmp-circularCarousel__images {
			  height: 35vw;
			  position: relative;
			  perspective: 1000px;
			  transform-style: preserve-3d;
		      width: 50%;
			.cmp-circularCarousel__image {
				width: 100%;
				height: 100%;
			    margin: auto;
			    position: absolute;
			    left: 0;
			    right: 0;
			    cursor: pointer;
			    transition: transform .8s ease;
				transform: translate3d(0%, 0, -200px);
				@media (max-width: 767px) {					
			    	transition: opacity .8s ;
				}
			}
			@media (max-width: 767px) {
				height: 600px;
				width: 100%;
				perspective: 1000000px;
			}
		}
		.cmp-circularCarousel__actions {
		    position: absolute;
		    top: 42%;
		    width: 85%;
		    display: flex;
		    justify-content: space-between;
			width: 80%;
			.cmp-circularCarousel__actions--prev {
			    justify-content: space-between;
				display: flex;
				height: 60px;
			    width: 60px;
    			align-items: center;
				cursor: pointer;
				@media (max-width: 767px) {
					justify-content: center;
					background-color: rgba(0, 0, 0, 0.48);
				    font-size: 55px;
				    color: white;
				}
			}
			.cmp-circularCarousel__actions--next {
			    justify-content: space-between;
				display: flex;
				height: 60px;
			    width: 60px;
    			align-items: center;
				cursor: pointer;
				@media (max-width: 767px) {
					justify-content: center;
					background-color: rgba(0, 0, 0, 0.48) !important;
				    font-size: 55px;
				    color: white;
				}
			}
			.cmp-circularCarousel_arrow {
				
				font-family: Roboto, Sans-serif;
				font-weight: 400;
				line-height: 14px;
				font-size: 11px;
				text-transform: uppercase;
				letter-spacing: 0.04em;
				color: #878787;
				transform: rotate(-90deg);
				transition: color .2s ease-out;
				&:hover {
					color: #111;
				}
				@media (max-width: 767px) {
					display: none;
				}
			}
			@media (max-width: 767px) {
				padding: 0;
				width: 100%;
			}
		}

	}
}

.current {
	transform: translate3d(0%,-10px,-70px) !important;
	z-index: 3;
	opacity: 1;
	@media (max-width: 767px) {
			transform: translate3d(1px,-10px,-70px) !important;
	}
}	
.next {
	transform: translate3d(70px, -20px,-150px) !important;
	z-index: 1;
	@media (max-width:767px) {
		transform: translate3d(1px,-10px,-70px) !important;
		opacity: 0;
	}
}
.prev {	
	transform: translate3d(-70px,-20px,-150px) !important;
	z-index: 1;
	@media (max-width:767px) {
		transform: translate3d(1px,-10px,-70px) !important;
		opacity: 0;
	}
}
.restleft {
	transform: translate3d(-150px, -17px, -250px) !important;
	@media (max-width:767px) {
		transform: translate3d(1px,-10px,-70px) !important;
		opacity: 0;
	}
}
.restright {
	transform: translate3d(150px, -17px, -250px) !important;
	@media (max-width:767px) {
		transform: translate3d(1px,-10px,-70px) !important;
		opacity: 0;
	}
}

.restback {
	transform: translate3d(0, -17px, -250px) !important;
	@media (max-width:767px) {
		transform: translate3d(1px,-10px,-70px) !important;
		opacity: 0;
	}
}