/* Componente "Separator" */

.separator hr {
    border: 1px solid #ebebeb;
    width: 30px;
    margin: .5em auto;
}

.separator.reserve  {
    width: 50%;
    margin:  auto;
	hr {
		border: 1px solid #ebebeb;
		width: 100%
	}
}

.separator.left hr {
    border: 1px solid #dcaaa1;
    width: 30px;
    margin: .5em auto;
}
 
.separator.noline {
    border: 1px solid transparent;
	width: 100%;
    margin: 2em auto;
}
 
.separator.noline10 hr {
    border: 1px solid transparent;
	width: 100%;
    margin: 10px auto;
}
 
.separator.noline20  hr {
    border: 1px solid transparent;
	width: 100%;
    margin: 20px auto;
}
 
.separator.noline30  hr {
    border: 1px solid transparent;
	width: 100%;
    margin: 30px auto;
}
 
.separator.noline40  hr {
    border: 1px solid transparent;
	width: 100%;
    margin: 40px auto;
}
 
.separator.noline50  hr {
    border: 1px solid transparent;
	width: 100%;
    margin: 50px auto;
}