<div
	data-sly-use.footer="com.hesperia.ovnew.core.Footer"></div>
<footer class="container-footer">
	<div class="container-footer-text">
		<div class="container-footer-contact">
			<h3 class="container-footer-contact-contact"> Contacto</h3>
			<div class="container-footer-contact-phone">
				<i class="icon_phone"></i><a
					href="tel://${footer.telefonoEnlace}" target="_self"> <span>${footer.telefonoFormato}</span></a>
			</div>
			<div class="container-footer-contact-email">
				<i class="icon_mail"></i><a href="mailto:${footer.email}">
					<span>${footer.email}</span>
				</a>
			</div>
		</div>
		<div class="container-contact-schedule">
			<h3 class="container-contact-footer-schedule">Horarios</h3>
			<div class="container-contact-footer-schedule-day">
				<span>${footer.schedule}</span><br><span>${footer.duration}</span>
			</div>
		</div>
		<div class="container-footer-maps">
			<h3 class="container-footer-maps-title">Donde Estamos</h3>
			<div class="container-footer-maps-address">
				<i class="icon_pin"></i><a
					href="${footer.addressLink}"
					target="_blank">${footer.address} <br /> <strong>Hotel
						Hesperia Tower</strong> <span class="stars-footer"> <i
						class="fa fa-star"></i> <i class="fa fa-star"></i>
						<i class="fa fa-star"></i> <i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
				</span> - Piso 29
				</a>
			</div>
			<div
				data-sly-resource="${'maps' @ resourceType='ovnew/components/content/maps'}">
			</div>
		</div>
	</div>
	<div class="container-navigation-footer"
		data-sly-resource="${'navigation' @ resourceType='ovnew/components/content/navigation'}"></div>
</footer>
<div class="bottom-legals">
	<div class="bottom-legals-advertisement">
		<a href="/content/ovnew/language-master/es/reservas/aviso-legal.html">Aviso Legal</a>
	</div>
	<div class="bottom-legals-advertisement">
		<a href="/content/ovnew/language-master/es/reservas/aviso-legal.html">condiciones
			generales</a>
	</div>
	<div class="bottom-legals-advertisement">
		<a href="http://www.theovnew.com/politicadecookies">pólitica de
			cookies</a>
	</div>
	<div class="bottom-legals-advertisement">
		<a href="http://www.theovnew.com/politicadeprivacidad/">política
			de privacidad</a>
	</div>
	<div class="bottom-legals-advertisement bold">
		 <a
			href="http://spoonik.com">powered by spoonik</a>
		
	</div>
	<div class="bottom-legals-advertisement long">
		<a href="https://www.hesperia.com">Hesperia Hotels & Resorts: All Right Reserveds</a>
	</div>
</div>