<div data-sly-use.dual="com.hesperia.ovnew.core.models.DualImageShowcase"
    data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${!dual.empty}"
    class="cmp-dual">
        
    <div class="cmp-dual__container row">
       	<div data-sly-test="${dual.imagesPosition == 'right'}" class="content col-6 ${dual.contentAlignment=='right' ? 'text-right':''} ${dual.contentAlignment=='left' ? 'text-left':''} ${dual.contentAlignment=='center' ? 'text-center':''}">            

    		<h1 class="content__subtitle" data-sly-test="${dual.subtitleTag == 'h1'}" data-color="${dual.subtitleColor}">${dual.subtitle}</h1>
    		<h2 class="content__subtitle" data-sly-test="${dual.subtitleTag == 'h2'}" data-color="${dual.subtitleColor}">${dual.subtitle}</h2>
    		<h3 class="content__subtitle" data-sly-test="${dual.subtitleTag == 'h3'}" data-color="${dual.subtitleColor}">${dual.subtitle}</h3>
    		<h4 class="content__subtitle" data-sly-test="${dual.subtitleTag == 'h4'}" data-color="${dual.subtitleColor}">${dual.subtitle}</h4>
    		<h5 class="content__subtitle" data-sly-test="${dual.subtitleTag == 'h5'}" data-color="${dual.subtitleColor}">${dual.subtitle}</h5>
    		<h6 class="content__subtitle" data-sly-test="${dual.subtitleTag == 'h6' || dual.subtitleTag=='Default'}" data-color="${dual.subtitleColor}" >${dual.subtitle}</h6>
    		
    		<h1 class="content__title content__title--h1" data-sly-test="${dual.titleTag == 'h1' || dual.titleTag == 'Default'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h1>
    		<h2 class="content__title content__title--h2" data-sly-test="${dual.titleTag == 'h2'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h2>
    		<h3 class="content__title content__title--h3" data-sly-test="${dual.titleTag == 'h3'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h3>
    		<h4 class="content__title content__title--h4" data-sly-test="${dual.titleTag == 'h4'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h4>
    		<h5 class="content__title content__title--h5" data-sly-test="${dual.titleTag == 'h5'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h5>
    		<h6 class="content__title content__title--h6" data-sly-test="${dual.titleTag == 'h6'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h6>
    		
    		<div class="content__text" data-color="${dual.textColor}" data-margintop="${dual.textTopMargin}">${dual.text @ context='html'}</div>

            <a data-sly-test="${dual.enableButton == 'yes'}" class="content__btn content__btn--small" href="${dual.customLink ? dual.customLink : '#'}" >${dual.buttonText}</a>
    		
    	</div>
    	<div data-sly-test="${dual.imagesPosition == 'right'}" class="images col-6" data-parallax="${dual.enableParallax}">
    		<div class="background" data-axis="${dual.yAxisTranslationBackgroundImage}">
    			<img width="390" height="643" src="${dual.imageBackground}">
    		</div>
    		<div class="foreground" data-axis="${dual.yAxisTranslationForegroundImage}">
    			<img width="468" height="343" src="${dual.imageForeground}">
    		</div>
    		
    	</div>
    	
    	<div data-sly-test="${dual.imagesPosition == 'left'}" class="images col-6" data-parallax="${dual.enableParallax}">
    		<div class="background" data-axis="${dual.yAxisTranslationBackgroundImage}">
    			<img width="390" height="643" src="${dual.imageBackground}">
    		</div>
    		<div class="foreground" data-axis="${dual.yAxisTranslationForegroundImage}">
    			<img width="468" height="343" src="${dual.imageForeground}">
    		</div>
    		
    	</div>
    	<div data-sly-test="${dual.imagesPosition == 'left'}" class="content col-6 ${dual.contentAlignment=='right' ? 'text-right':''} ${dual.contentAlignment=='left' ? 'text-left':''} ${dual.contentAlignment=='center' ? 'text-center':''}">            

    		<h1 class="content__subtitle" data-sly-test="${dual.subtitleTag == 'h1'}" data-color="${dual.subtitleColor}">${dual.subtitle}</h1>
    		<h2 class="content__subtitle" data-sly-test="${dual.subtitleTag == 'h2'}" data-color="${dual.subtitleColor}">${dual.subtitle}</h2>
    		<h3 class="content__subtitle" data-sly-test="${dual.subtitleTag == 'h3'}" data-color="${dual.subtitleColor}">${dual.subtitle}</h3>
    		<h4 class="content__subtitle" data-sly-test="${dual.subtitleTag == 'h4'}" data-color="${dual.subtitleColor}">${dual.subtitle}</h4>
    		<h5 class="content__subtitle" data-sly-test="${dual.subtitleTag == 'h5'}" data-color="${dual.subtitleColor}">${dual.subtitle}</h5>
    		<h6 class="content__subtitle" data-sly-test="${dual.subtitleTag == 'h6' || dual.subtitleTag=='Default'}" data-color="${dual.subtitleColor}" >${dual.subtitle}</h6>
    		
    		<h1 class="content__title content__title--h1" data-sly-test="${dual.titleTag == 'h1' || dual.titleTag == 'Default'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h1>
    		<h2 class="content__title content__title--h2" data-sly-test="${dual.titleTag == 'h2'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h2>
    		<h3 class="content__title content__title--h3" data-sly-test="${dual.titleTag == 'h3'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h3>
    		<h4 class="content__title content__title--h4" data-sly-test="${dual.titleTag == 'h4'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h4>
    		<h5 class="content__title content__title--h5" data-sly-test="${dual.titleTag == 'h5'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h5>
    		<h6 class="content__title content__title--h6" data-sly-test="${dual.titleTag == 'h6'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h6>
    		
    		<div class="content__text" data-color="${dual.textColor}" data-margintop="${dual.textTopMargin}">${dual.text @ context='html'}</div>
    		
    		<a class="content__btn content__btn--small" href="${dual.customLink ? dual.customLink : '#'}" >${dual.buttonText}</a>
    		
    	</div>
    
    </div>
    
    <div class="cmp-dual__mobile row">
    
	    <div class="content col-12">            
	
    		<h1 class="content__subtitle text-center" data-sly-test="${dual.subtitleTag == 'h1'}" data-color="${dual.subtitleColor}">${dual.subtitle}</h1>
    		<h2 class="content__subtitle text-center" data-sly-test="${dual.subtitleTag == 'h2'}" data-color="${dual.subtitleColor}">${dual.subtitle}</h2>
    		<h3 class="content__subtitle text-center" data-sly-test="${dual.subtitleTag == 'h3'}" data-color="${dual.subtitleColor}">${dual.subtitle}</h3>
    		<h4 class="content__subtitle text-center" data-sly-test="${dual.subtitleTag == 'h4'}" data-color="${dual.subtitleColor}">${dual.subtitle}</h4>
    		<h5 class="content__subtitle text-center" data-sly-test="${dual.subtitleTag == 'h5'}" data-color="${dual.subtitleColor}">${dual.subtitle}</h5>
    		<h6 class="content__subtitle text-center" data-sly-test="${dual.subtitleTag == 'h6' || dual.subtitleTag=='Default'}" data-color="${dual.subtitleColor}" >${dual.subtitle}</h6>
    		
    		<h1 class="content__title content__title--h1 text-center" data-sly-test="${dual.titleTag == 'h1' || dual.titleTag == 'Default'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h1>
    		<h2 class="content__title content__title--h2 text-center" data-sly-test="${dual.titleTag == 'h2'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h2>
    		<h3 class="content__title content__title--h3 text-center" data-sly-test="${dual.titleTag == 'h3'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h3>
    		<h4 class="content__title content__title--h4 text-center" data-sly-test="${dual.titleTag == 'h4'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h4>
    		<h5 class="content__title content__title--h5 text-center" data-sly-test="${dual.titleTag == 'h5'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h5>
    		<h6 class="content__title content__title--h6 text-center" data-sly-test="${dual.titleTag == 'h6'}" data-color="${dual.titleColor}" data-margintop="${dual.titleTopMargin}" data-marginbottom="${dual.titleBottomMargin}">${dual.title}</h6>
    		
    		<div class="content__text" data-color="${dual.textColor}" data-margintop="${dual.textTopMargin}">${dual.text @ context='html'}</div>
	    		
    	</div>
    	<div class="images col-12 text-center">
   			<img src="${dual.imageBackground}">  		
    	</div>
    </div>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>