@largue-screen :1000px;
@medium-screen :800px;
@mobile-screen :450px;
.ovnewCarousel{
	padding-bottom: 100px;
	.cmp-carousel{
		height: 100%;
		display: flex;
		.cmp-carousel--reverseIn{
			animation: slidesInReverse 0.5s;
			z-index: -19 !important;
			@media (max-width: @mobile-screen){
				animation: slidesInReverseSmall 0.5s;
			}
		}
		.cmp-carousel--reverseOut{
			animation: slidesOutReverse 0.5s;
			z-index: -20 !important;
			@media (max-width: @mobile-screen){
				animation: slidesOutReverseSmall 0.5s;
			}
		}
		.cmp-carousel--nextOut{
			animation: slidesOut 0.5s;
			z-index: -20 !important;
			@media (max-width: @mobile-screen){
				animation: slidesOutSmall 0.5s;
			}
		}
		.cmp-carousel--nextIn{
			animation: slidesIn 0.5s;
			z-index: -19 !important;
			@media (max-width: @mobile-screen){
				animation: slidesInSmall 0.5s;
				z-index: -18 !important;
			}
		}
		.cmp-carousel__item{
			position: absolute;
			display: flex;
			width: 100%;
			justify-content: center;
			z-index: -30;
		}
		
		.cmp-carousel__item--active{
			position: relative;
			justify-content: center;
			z-index: -25;
		}
		@keyframes slidesIn{
			from{
				transform: translateX(32%);
				//z-index: -30;
			}
			to{
				transform: translateX(0%);
				//z-index: -30;
			}
		}
		@keyframes slidesOut{
			from{
				transform: translateX(0%);
			}
			to{
				transform: translateX(-33%);
			}
		}
		@keyframes slidesOutReverse{
			from{
				transform: translateX(0%);
			}
			to{
				transform: translateX(33%);
			}
		}
		
		@keyframes slidesInReverse{
			from{
				transform: translateX(-32%);
			}
			to{
				transform: translateX(0%);
			}
		}
		@keyframes slidesInSmall{
			from{
				transform: translateX(90%);
				//z-index: -30;
			}
			to{
				transform: translateX(0%);
				//z-index: -30;
			}
		}
		@keyframes slidesOutSmall{
			from{
				transform: translateX(0%);
			}
			to{
				transform: translateX(-90%);
			}
		}
		@keyframes slidesOutReverseSmall{
			from{
				transform: translateX(0%);
			}
			to{
				transform: translateX(90%);
			}
		}
		
		@keyframes slidesInReverseSmall{
			from{
				transform: translateX(-90%);
			}
			to{
				transform: translateX(0%);
			}
		}
	}
	.cmp-carousel__content{
		width:100%;
		display: flex;
		flex-direction: column;
		.cmp-carousel__actions{
		    width: 100%;
		    display: flex;
		    position: absolute;
		    order: -5;
			height: 100%;
			align-items: center;
			justify-content: center;
			.cmp-carousel__action--previous{
				width:240px;
				transform: rotate(-90deg);
				background-color: transparent;
				border: none;
				font-size: 25px;
	    		letter-spacing: .02em;
				font-family: Roboto,sans-serif;
				color: #878787;
				margin-right: 25%;
				@media (max-width: @medium-screen) {
					margin-right: 35%;
				}
				@media (max-width: @mobile-screen) {
					display:none;
				}
				&:hover{
					color:black;
					cursor: pointer;
				}
				&:focus{
					outline:none;
				}
			}
			.cmp-carousel__action--next{
				width:240px;
				transform: rotate(-90deg);
				background-color: transparent;
				border: none;
				font-size: 25px;
	    		letter-spacing: .02em;
				font-family: Roboto,sans-serif;
				color: #878787;
				@media (max-width: @mobile-screen) {
					display:none;
				}
				&:hover{
					color:black;
					cursor: pointer;
				}
				&:focus{
					outline:none;
				}			
			}
			.cmp-carousel__action-text{
				text-transform: uppercase !important; 
				@media (max-width: @medium-screen) {
				}				
			}
			.cmp-carousel__action-icon{
				@media (max-width: @medium-screen) {
				}				
			}
			.ion-ios-arrow-right{
				display: block;
	    		transform: rotate(90deg);
			}
			.ion-ios-arrow-left{
				display: block;
	    		transform: rotate(90deg);
			}   
		}
		.cmp-carousel__indicators{
			display: flex !important;
		}
	}
	
	.cmp-carousel__hideSides{
		position: absolute;
		display: flex;
	    background-color: white;
	    width: 35.5%;
    	margin-left: -2%;
	    height: 100%;
	    z-index: -15;
		@media (max-width: 1000px){
			width: 27.5%;		    
			margin-left: -2.5%;
		}
		@media (max-width:@mobile-screen ){
			width: 8.5%;
			margin-left: -6%;
		}
	}
	
	.cmp-carousel__hideSides--left{
		align-self: flex-end;
		margin-left: 2%;
		@media (max-width: @largue-screen){
    		margin-left: 2.5%;
		}
		@media (max-width:@mobile-screen ){
			margin-left: 6%;
		}
	}
	.cmp-carousel__sideIconsContainer{
		display: flex;
		position: absolute;
		width: 50%;
		height: 130px;
		justify-content: space-around;
		align-self: center;
		z-index: -10;
		-webkit-box-reflect: right;
		@media (max-width: @medium-screen){
			display:none;
		}
		.sideImage{
			margin-left: -30%;
			animation-fill-mode: forwards;
			animation-name: fadeIn;
			animation-duration: 1s;
			animation-play-state: paused;
			@keyframes fadeIn{
				from {
				margin-left: -111%;
				}
				to{
					margin-left: -30%;
				}
			}
		}
		
	}
}

.cmp-carousel__carouselTitle{
		.carouselTitle{
			
		}
	}
