<div class="cmp-allergens" id="accordion"
	data-sly-use.alergenos="com.hesperia.ovnew.core.models.AllergensList"
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html">
	<h5 class="cmp-allergens__title">${alergenos.titleComponent}</h5>
	<div class="cmp-allergens__ingredients">
		<!-- ****** ODD ******** -->
		<div class="card odd" id="odd"
			data-sly-list.ingrediente="${alergenos.getAlergenos}">
			<div class="card__allergen" data-sly-test="${ingredienteList.odd}">
				<div class="card-header" id="headingOne">
					<h4 class="mb-0">
						<i class="icon_plus icons"></i>
						<button class="btn btn-secondary" data-toggle="collapse"
							aria-expanded="true"
							data-target="#collapse_${ingredienteList.index}"
							aria-controls="collapse_${ingredienteList.index}">${ingrediente.title}</button>
					</h4>
				</div>
				<div class="collapse" id="collapse_${ingredienteList.index}"
					aria-labelledby="headingOne" data-parent="#odd">
					<p class="card-body">${ingrediente.description}</p>
				</div>
			</div>
		</div>
		<!-- ****** EVEN ******** -->
		<div class="card even" id="even"
			data-sly-list.ingrediente="${alergenos.getAlergenos}">
			<div class="card__allergen" data-sly-test="${ingredienteList.even}">
				<div class="card-header" id="headingOne">
					<h4 class="mb-0">
						<i class="icon_plus icons"></i>
						<button class="btn btn-secondary" data-toggle="collapse"
							aria-expanded="true"
							data-target="#collapse_${ingredienteList.index}"
							aria-controls="collapse_${ingredienteList.index}">${ingrediente.title}</button>
					</h4>
				</div>
				<div class="collapse" id="collapse_${ingredienteList.index}"
					aria-labelledby="headingOne" data-parent="#even">
					<p class="card-body">${ingrediente.description}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<sly
	data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>