.cmp-allergens--ovnew {
	background-color: #f0f0f0;
    margin-top: 0;
	.cmp-allergens {
		.cmp-allergens__title {
			padding-left: 10%;
			padding-top: 20px;
		    font-family: BebasNeue-Bold;
		    font-size: 29px;
		    word-spacing: .15em;
		    letter-spacing: .1em;
		    line-height: 1.3em;
		}
		.cmp-allergens__ingredients {
			    display: grid;
	    		grid-template-columns: 50% 50%;
				padding-left: 10%;
			    padding-right: 10%;
			.card {
				background-color: #f0f0f0;
				padding-top: 20px;
	    		border: none;
				.card__allergen {
				    width: 95%;			
					.card-header {
						background-color: #f0f0f0;
						border: none;
					    padding: 0;
						&:hover {
							.icons {
								//animation-play-state: running;
							}
						}
						.mb-0 {
							border-bottom: 1px solid rgba(0,0,0,.125);
	    					border-top: 1px solid rgba(0,0,0,.125);
						}
						.icons {
							font-size: 15px;				
							
						}
						.icon_plus {
							animation: fade-in 1.5s forwards;							
						}
						.icon_minus-06 {
							animation: fade-out 1.5s forwards;							
						}
						button {
							border: none;
						    background-color: transparent;
						    color: black;
						    font-family: BebasNeue-Regular;
						    font-size: 20px;
						    outline: none;
						    box-shadow: none;
						    padding-left: 0;
						    padding-top: 15px;
						    padding-bottom: 15px;
						    width: 95%;
				    		text-align: left;
						}
					}
					.card-body {
						font-family: Roboto, sans-serif;
					    font-size: 12px;
					    color: #808080;
					    line-height: 25px;
					    letter-spacing: .01em;
					}
				}
				@media (max-width: 992px){
					display: flex;
				}
			}
		}
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade-out {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}