<div class="cmp-circularCarousel" id="cmp-circularCarousel"
	data-sly-use.images="com.hesperia.ovnew.core.models.CircularCarousel"
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html">
	<!-- Radio buttons in case of needed
	<div class="cmp-circularCarousel__radio"
		data-sly-list.imagen="${images.getImages}">
		<input type="radio" name="slider" id="s${imagenList.index}">
	</div> -->
	<div class="cmp-circularCarousel__images"
		data-sly-list.imagen="${images.getImages}">
		<img src="${imagen.getImage}" class="cmp-circularCarousel__image"
			id="slide${imagenList.index}" onclick="slideImage(this)">
	</div>
	<div class="cmp-circularCarousel__actions">
		<div class="cmp-circularCarousel__actions--prev" onclick="prevImage()">
			<i class="ion-ios-arrow-left"></i><span
				class="cmp-circularCarousel_arrow" data-action="prev">Prev</span>
		</div>
		<div class="cmp-circularCarousel__actions--next" onclick="nextImage()">
			<span class="cmp-circularCarousel_arrow" data-action="next">Next</span><i
				class="ion-ios-arrow-right"></i>
		</div>
	</div>
</div>
<sly
	data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>