.cmp-dual{
	padding: 0 8.3%;
	.text-right{
		text-align: right;
	}
	.text-left{
		text-align: left;
	}
	.text-center{
		text-align: center;
	}
	.cmp-dual__container{
		position: relative;
	    display: table;
	    table-layout: fixed;
	    height: 70%;
	    width: 100%;
		margin-right:0;
		margin-left:0;
		
		.content{
			padding-right: 5.5%;
    		box-sizing: border-box;
			position: relative;
		    display: table-cell;
		    height: 100%;
		    width: 100%;
		    vertical-align: middle;
		    width: 50%;
			
			h6{
				&.content__subtitle{
					font-size:13px;
				}
			}

			.content__subtitle{
				margin:0;
				color: #878787;
				font-weight: 400;
    			text-transform: uppercase;
				line-height: 2.27em;
    			letter-spacing: .2em;
				font-family: Roboto,sans-serif;
			}
			
			.content__title{
				margin: 0;
			    color: #000;
			    font-family: "BebasNeue-Bold";
			    text-transform: uppercase;
				
				&.content__title--h1{
					font-size:66px !important;
				}
				
				&.content__title--h2{
					font-size:56px !important;
				}
				
				&.content__title--h3{
					font-size:46px !important;
				}
				
				&.content__title--h4{
					font-size:36px !important;
				}
				
				&.content__title--h5{
					font-size:26px !important;
				}
				
				&.content__title--h6{
					font-size:16px !important;
				}
			}
			
			.content__text{
				margin: 22px 0 30px;
				p{
					margin: 22px 0 30px;
					font-family: Roboto,sans-serif;
					font-size:15px;
					line-height: 25px;
					font-weight: 400;
    				letter-spacing: .01em;
				}
			}
			
			
			.content__btn{
				position: relative;
			    display: inline-block;
			    vertical-align: middle;
			    width: auto;
			    margin: 0;
			    font-family: inherit;
			    font-size: 17px;
			    line-height: 2em;
			    letter-spacing: .14em;
			    font-weight: 400;
			    text-transform: uppercase;
			    outline: 0;
			    font-family: "BebasNeue-Bold";
			    box-sizing: border-box;
			    -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
			    -moz-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
			    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
			    padding: 14px 46px;
			    cursor: pointer;
				text-decoration:none;
				color:#000000;
				border: 1px solid #000000;
			}

			.content__btn:before, .content__btn:after {
			  content: '';
			  position: absolute;
			  width: 0%;
			  height: 1px;
			  top: 50%;
			  margin-top: -0.5px;
			  background: #000000;
			}

			.content__btn:before {
			  left: 20px;
			}
			.content__btn:after {
			  right: 20px;
			  background: #000000;
			  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
			}
			
			.content__btn:hover:before {
			  background: #000000;
			  width: 80%;
			  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
			}
			
			.content__btn:hover:after {
			  background: transparent;
			  width: 80%;
			  transition: 0s;
			}
			
			.content__btn:hover{
				border-color: #000000;
				background-color: transparent;
				
			}
			
			.content__btn--small{
				padding: 14px 34px;
			}
			
		}
		
		.images{
		    position: relative;
		    display: table-cell;
		    height: 100%;
		    width: 100%;
		    vertical-align: middle;
		    width: 50%;
			
			.background{
				transform: translatey(0px);
				animation: floatBack 6s ease-in-out infinite;
				img{
					max-width: 100%;
    				//height: auto;
				}
			}
			
			.foreground{
				transform: translatey(0px);
				animation: floatFore 6s ease-in-out infinite;
				position: absolute;
    			top: 38%;
    			left: 28%;

				img{
					max-width:100%;
					//height:auto;
				}
				
			}
			
		}
		
		@media (max-width: 991px){
			display: none;
		}
	}
	
	
	@media (max-width: 991px){
		padding: 0;
	}

	.cmp-dual__mobile{
		display: none;
		position: relative;
	    table-layout: fixed;
	    height: 70%;
	    width: 100%;
		margin-right:0;
		margin-left:0;
		
		.content{
		    width: 100%;

			h6{
				&.content__subtitle{
					font-size:13px;
				}
			}
	
			.content__subtitle{
				margin:0;
				color: #878787;
				font-weight: 400;
				text-transform: uppercase;
				line-height: 2.27em;
				letter-spacing: .2em;
				font-family: Roboto,sans-serif;
			}
			
			.content__title{
				margin: 0;
			    color: #000;
			    font-family: "BebasNeue-Bold";
			    text-transform: uppercase;
				
				&.content__title--h1{
					font-size:66px !important;
				}
				
				&.content__title--h2{
					font-size:56px !important;
				}
				
				&.content__title--h3{
					font-size:46px !important;
				}
				
				&.content__title--h4{
					font-size:36px !important;
				}
				
				&.content__title--h5{
					font-size:26px !important;
				}
				
				&.content__title--h6{
					font-size:16px !important;
				}
			}
			
			.content__text{
				margin: 22px 0 30px;
				padding-right: 20px;
				padding-left: 20px;
				
				p{
					margin: 22px 0 30px;
					font-family: Roboto,sans-serif;
					font-size:15px;
					line-height: 25px;
					font-weight: 400;
    				letter-spacing: .01em;
				}
			}
			
			
			
		}
		
		.images{
		    height: 100%;
		    width: 100%;
		    vertical-align: middle;
			padding:0;
			
			img{
				@media (max-width:400px){
					width:100%;
					height: auto;
				}
			}
	
		}
		
		@media (max-width:991px){
			display: table;
		}
		
	}
}

@keyframes floatBack {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(0px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes floatFore {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(0px);
	}
	100% {
		transform: translatey(0px);
	}
}
