.cmp-ovnew__tenedor {
	width: 70%;
	margin: auto;
}
#reservas-slider_wrapper{
	height: 260px !important;
}
#reservas-slider{
	height: 260px !important;
}

#reserva-tenedor iframe{
	width: 100%;
	height: 608px;
}
.eltdf-row-grid-section-wrapper {
	overflow-y: hidden;
    height: 608px !important;
}

#menu-varia h1{
	font-family: BebasNeue-Bold !important;
	font-family: 40px !important
}

#menu-varia p{
	margin-top: 5px !important;
}

.separator-bottom-reserva .vc_sep_holder{
	height: 3px !important;
}
@media screen and (max-width:767px){
	#reserva-tenedor iframe{
		height: 850px !important;
	}
}
@media (max-width: 575px){
	.vc_column-inner {
		padding: 0 !important;
	}

	.eltdf-content .eltdf-row-grid-section{
		width: 89% !important;
	}
	
}